@import '~notyf/notyf.min.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.tdea {
    max-width: 100%;
    max-height: 100%;
}

.conteiner {
    display: flex;
    flex-direction: column; /* Ajusta según tu necesidad */
    align-items: center;
    justify-content: center;
    height: 100%; /* Asegúrate de que ocupe todo el espacio disponible */
    width: 100%;

}

/* Estilo para el input de fecha nativo dentro de un ion-item */
.item .native-date-input {
    /* Restablece el fondo a transparente para que herede el fondo de ion-item */
    background-color: transparent; 

    /* Elimina el borde */
    border: none;

    /* Asegúrate de que ocupe todo el ancho para llenar el espacio */
    width: 100%; 

    /* Ajusta el padding si es necesario para que coincida con otros inputs */
    padding: 8px 0; /* Ajusta este valor */

    /* Asegúrate de que el color del texto sea correcto */
    color: var(--ion-color-dark); 
    width: 100%;             /* Asegura que ocupe todo el ancho disponible */
  text-align: left;        /* Alinea el texto/placeholder a la izquierda */
  border: none;            /* Quita bordes por defecto si es necesario */
  background: transparent; /* Se integra mejor con Ionic */
  padding-left: 0;         /* Elimina paddings que puedan estar empujándolo */
  appearance: none;        /* Quita estilos nativos de algunos navegadores */
  -webkit-appearance: none;
}

/* Si aún ves un borde o un fondo gris, puede ser que necesites más selectores */
/* Este apunta al input real dentro del elemento */
.item ion-input[type="date"] {
    background-color: transparent !important;
    border: none !important;
}

.inicio{
    border: none;
    border-bottom: 1px solid white;
}

.forgot-container {
    padding: 15px 0;
}

.sesion {
    padding: 0 0 15px 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    margin-top: 20px;
    width: 80%;
}

.registrar-container {
    display: flex;
    gap: 5px;
}

.cancelar {
    text-align: center;
    display: flex;
    align-items: center;
}

.toolbar {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4{
    text-align: center;
}

.formulario {
    display: flex;
    width: 80%;
}

.item {
    display: flex;
    width: 100%;
    
}

.date-time {
    margin-left: 130px;
}

.register {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

ion-modal{ 
    --background: rgba(255, 255, 255, 0.9); /* Fondo semitransparente blanco */
}

.forgot-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 25px;
}
.foto {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre la imagen y el texto */
  }
  
  .preview-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }





